@use "./global.scss";
@use "./theme.scss";
@use "./markdown.scss";
@use "nprogress/nprogress.css";

body {
  width: 100vw;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.01em;

  --at-apply: c-#303133;
  --at-apply: bg-#fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.01em;
  margin-bottom: 0.6em;
  color: #1a1a1a;
}

code, kbd, pre, samp {
  font-family: "Fira Code", "Fira Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.9em;
}

html {
  font-size: 14px;
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
}

:root {
  overflow: hidden auto;
}

:root body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: absolute;
}

#app,
html {
  height: 100%;
}

dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
  outline: none;
}

svg {
  box-sizing: content-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// 滚动条样式

// ::-webkit-scrollbar {
//   width: 6px;
//   height: 6px;
// }

// ::-webkit-scrollbar-thumb {
//   background: rgba(#000, 0.2);
//   border-radius: 3px;
// }

// ::-webkit-scrollbar-track {
//   background: rgba(#000, 0.06);
//   border-radius: 3px;
// }

table {
  width: 100% !important;
}

// https://stackoverflow.com/questions/43778196/input-background-removed-by-chrome-autofill

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  -moz-box-shadow: 0 0 0 100px #fff inset;
  box-shadow: 0 0 0 100px #fff inset;
}
